

body{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    
    
}
#shoelogo{
    height: 80px;
    width: 80px;
}
ul {
text-decoration: none;
font-size: large;
text-decoration: none;
list-style: none;
cursor: pointer;
}
nav ul{
    display: flex;
    gap: 24px;
    align-items: center;
    
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}
button{
    all : unset;
    padding:  6px 16px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    background-color: rgb(17, 17, 17);
    color: white;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    margin-top: 10px;
    height: calc(100vh - 75px);
}
#hreo1 h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 100px;
}
#hreo1 p{
    color: gray;
    max-width: 400px;
}
#herobtn{
    display: flex;
    gap: 40px;
    padding-bottom: 10px;
}
#bran-logo{
    display: flex;
}
#hreo1{
    display: flex;
    flex-direction: column;
}